<div id="phraseSubPanel" class="center">
    <div id="cbLanguageContainer" name="cbLanguageContainer">
        <input type="checkbox" id="cbLanguage" name="cbLanguage" checked="checked">Spanish (on)/English (off)</input>
    </div>
    <div id="phraseName"></div>
    <div id="phraseValue" class="collasped"></div>
    <button onclick="LoadNextPhrase();">Next</button>
    <button onclick="PhraseListShow();">Show</button>
    <br />
    <br />
    <div id="message"></div>
</div>
