@page
@model VerbsSubPanelModel
@{
    ViewData["Title"] = "Verb Flash Card";
}
<div id="verbSubPanel" class="center">
    <div id="verbSubPanelContent"></div>
    <button onclick="">Next</button>
    <button onclick="">Show</button>
</div>
