<div id="verbSubPanel">
    <div id="cbLanguageContainer" name="cbLanguageContainer">
        <input type="checkbox" id="cbLanguage" name="cbLanguage" checked="checked" class="displayPanel">Spanish (on)/English (off)</input>
    </div>
    <div id="verbName" class="displayPanel"></div>
    <div id="verbValue" class="displayPanel collasped"></div>
    <button onclick="LoadNextVerb();" class="displayPanel">Next</button>
    <button onclick="VerbListShow();" class="displayPanel">Show</button>
    <br />
    <br />
    <div id="message"></div>
    <br/>
    <br/>
    <label>Conjugation Practice</label>
    <br />
    <button onclick="ShowConjugationPanel('Present Tense');" class="displayPanel">Present Tense</button>
    <div id="conjunctionPanel" class="popup">
        <div class="popup-content">
            <span id="closeButton" class="close" onclick="HideConjugationPanel();">&times;</span>
            <h2 id="conjunctionPanelTitle"></h2>
            <p id="currentConjungation"></p>
        </div>
    </div>
</div>
