<div id="verbSubPanel" class="center">
    <div id="cbLanguageContainer" name="cbLanguageContainer">
        <input type="checkbox" id="cbLanguage" name="cbLanguage" checked="checked">Spanish (on)/English (off)</input>
    </div>
    <div id="verbName"></div>
    <div id="verbValue" class="collasped"></div>
    <button onclick="LoadNext();">Next</button>
    <button onclick="VerbListShow();">Show</button>
    <br />
    <br />
    <div id="message"></div>
</div>
