<div id="verbSubPanel" class="center">
    <div id="verbName"></div>
    <div id="verbValue" class="collasped"></div>
    <button onclick="LoadNext();">Next</button>
    <button onclick="VerbListShow();">Show</button>
    <br />
    <br />
    <div id="message"></div>
</div>
