<div id="verbSubPanel">
    <div id="cbLanguageContainer" name="cbLanguageContainer">
        <input type="checkbox" id="cbLanguage" name="cbLanguage" checked="checked" class="displayPanel">Spanish (on)/English (off)</input>
    </div>
    <div id="verbName" class="displayPanel"></div>
    <div id="verbValue" class="displayPanel collasped"></div>
    <button onclick="LoadNextVerb();" class="displayPanel">Next</button>
    <button onclick="VerbListShow();" class="displayPanel">Show</button>
    <br />
    <br />
    <div id="message"></div>
    <br/>
    <br/>
    <label id="conjunctionLabel"></label><p id="currentConjungation"></p>
</div>
