<div id="vocabularySubPanel" class="center">
    <div id="cbLanguageContainer" name="cbLanguageContainer">
        <input type="checkbox" id="cbLanguage" name="cbLanguage" checked="checked">Spanish (on)/English (off)</input>
    </div>
    <div id="vocabularyName"></div>
    <div id="vocabularyValue" class="collasped"></div>
    <button onclick="LoadNextVocabulary();">Next</button>
    <button onclick="VocabularyListShow();">Show</button>
    <br />
    <br />
    <div id="message"></div>
</div>
