<div id="vocabularySubPanel">
    <div id="cbLanguageContainer" name="cbLanguageContainer">
        <input type="checkbox" id="cbLanguage" name="cbLanguage" checked="checked" class="displayPanel">Spanish (on)/English (off)</input>
    </div>
    <div id="vocabularyName" class="displayPanel"></div>
    <div id="vocabularyValue" class="displayPanel collasped"></div>
    <button onclick="LoadNextVocabulary();" class="displayPanel">Next</button>
    <button onclick="VocabularyListShow();" class="displayPanel">Show</button>
    <br />
    <br />
    <div id="message"></div>
</div>
