@model VocabularyPanelListModel
@{
   //var modValue = @Model.IsMobile ? 1 : 4;
}
@* 
<div class="center">
    <select id="vocabularyLists" class="displayPanel"></select>
    <button onclick="SelectVocabularyList();" class="displayPanel">Submit</button>
</div> *@