.main {
    align-content: center;
}

.headerContainer {
    display: block;
    height: 30px;
    width: 100%;
}

.main.header.left {
    float: left;
    width: 10%;
    height: 50px;
    width: 50px;
}

.main.header.right {
    float: right;
    vertical-align: middle;
    height: 50px;
    width: 50px;
}

.menu {
    height: 25px;
    width: 25px;
    background-size: 25px;
    background-image: url("../images/MenuHamburger.png");
    background-repeat: no-repeat;
}

.menuExpanded {
    height: 100%;
    width: 100%;
}

.collasped {
    display: none;
}

.center {
    text-align: center;
}

