@page
@model VocabularyPanelModel
@{
    ViewData["Title"] = "Vocabulary";
}
<div id="chatPanel" class="center">
	<h4 class="center">Chat</h4>
	<p>This is chat is an experiment that (for the moment) has nothing to do with TASPA.</p>

    <div id="chatBody">
        <div id="chatMessageButton">
            <input type="text" id="chatMessage"/>
            <button id="sendChatMessage" class="displayPanel" onclick="SendChatMessage();">Send</button>
            <button id="clearUser" class="displayPanel" onclick="ClearChatSession();">Clear User</button>
        </div>
        <br/>
        <!-- TODO - make conversation and message ranking colors -->
        <label>Conversation Ranking</label>: <label id="conversationRanking"></label>
        <br/>
        <!-- TODO - embedd message ranking next to that chat in the display -->
        <label>Message Ranking</label>: <label id="messageRanking"></label>
        <br/>
        <div id="chatConversation" style="position: absolute; width: 95%; height: 60%;">
			<textarea id="chatConversationTextArea" style="width: 80%; height: 55%;" readonly></textarea>
        </div>
    </div>
</div>
