@page
@model SearchResultsPanelModel
@{
    ViewData["Title"] = "SearchResults";
}
<div id="searchPanel" class="center">
    <h4 class="center">SearchResults</h4>
    <div id="searchResultsPanel">
        @foreach (var searchResult in Model.SearchResults)
        {
            <br />
            <a href="@Utilities.GetSearchResultsTargetUrl(searchResult)">@string.Format("{0} - {1}", searchResult.Name, searchResult.EnglishMeaning)
            </a>        
        }
    </div>
</div>