@page
@model SearchResultsPanelModel
@{
    ViewData["Title"] = "SearchResults";
}
<div id="searchPanel" class="center">
    <h4 class="center">SearchResults</h4>
    <div id="searchResultsPanel">
        @foreach (var searchResult in Model.SearchResults)
        {
            <br />
            var href = "";
            if (searchResult.JsonPath.ToLower().Contains("verb"))
            {
                href = string.Format("/Panels/VerbsPanel?selectedSearchTerm={0}", searchResult.Name);
            }
            else
            {
                var jsonPath = searchResult.JsonPath;
                var end = jsonPath.LastIndexOf("\\");
                if (end > 0)
                {
                    var vocabularyListName = jsonPath.Substring(0, end);
                    var start = vocabularyListName.LastIndexOf("\\");
                    if (start > 0)
                    {
                        start += 1;
                        vocabularyListName = vocabularyListName.Substring(start, vocabularyListName.Length - start);
                        href = string.Format("/Panels/VocabularyPanel?selectedSearchTerm={0}&vocabularyList={1}", searchResult.Name, vocabularyListName);
                    }
                }
            }

            <a href="@href">@string.Format("{0} - {1}", searchResult.Name, searchResult.EnglishMeaning)</a>        
        }
    </div>
</div>