@page
@model VocabularyPanelModel
@{
    ViewData["Title"] = "Vocabulary";
}
<script type="text/javascript">
    LoadVocabularyLists('@Model.SearchTerm', '@Model.SearchVocabularyList');
</script>
<div id="vocabularyPanel" class="center" onload="LoadVocabularyLists();">
    <h4 class="center">Vocabulary</h4>

    <div class="vocabularyListSelectionPanelParent">
        <label id="lastVocabularyListUsed"></label>
        <br />
        <div class="vocabularyListSelectionPanel">
            <div id="vocabularyMobileMenu" class="collasped">
                @await Html.PartialAsync("/Pages/Panels/Controls/VocabularyPanelList.cshtml", new VocabularyPanelListModel(Model.VocabularyRadioButtons, Model.SearchVocabularyList, true))
            </div>
            <div id="vocabularyDesktopMenu" class="expanded">
                @await Html.PartialAsync("/Pages/Panels/Controls/VocabularyPanelList.cshtml", new VocabularyPanelListModel(Model.VocabularyRadioButtons, Model.SearchVocabularyList, false))
            </div>
        </div>
    </div>

    <div id="vocabularySubPanel" class="collasped">
        @await Html.PartialAsync("/Pages/Panels/SubPanels/VocabularySubPanel.cshtml")
    </div>
</div>
