@page
@model VocabularyPanelModel
@{
    ViewData["Title"] = "Vocabulary";
}
<script type="text/javascript">
    LoadVocabularyLists();
</script>
<div id="vocabularyPanel" class="center" onload="LoadVocabularyLists();">
    <h4 class="center">Vocabulary</h4>

    <!-- TODO - update select list based on radio button selected -->
    <!-- TODO - check in final should have phrases and one other at least -->
    <div class="vocabularyListSelectionPanelParent">
        <div class="vocabularyListSelectionPanel">
            <input type="radio" name="type" value="TheBody" onclick="VocabularyPanelSetVocabularyList('bodyparts', 'TheBody');">The Body<br />
            <input type="radio" name="type" value="Phrases" checked onclick="VocabularyPanelSetVocabularyList('clothing', 'Clothing');">Clothing<br />
            <input type="radio" name="type" value="Phrases" checked onclick="VocabularyPanelSetVocabularyList('colors', 'Colors');">Clothing<br />
            <input type="radio" name="type" value="HouseTerms" onclick="VocabularyPanelSetVocabularyList('familymembers', 'FamilyMembers');">Family Members<br />
            <input type="radio" name="type" value="HouseTerms" onclick="VocabularyPanelSetVocabularyList('fruits', 'Fruits');">Fruits<br />
            <input type="radio" name="type" value="HouseTerms" onclick="VocabularyPanelSetVocabularyList('houseterms', 'HouseTerms');">House Terms<br />
            <input type="radio" name="type" value="Phrases" checked onclick="VocabularyPanelSetVocabularyList('listfrommeetup', 'MeetupGroupList');">Meetup Group List<br />
            <input type="radio" name="type" value="Phrases" checked onclick="VocabularyPanelSetVocabularyList('phrases', 'Phrases');">Phrases<br />
            <input type="radio" name="type" value="HouseTerms" onclick="VocabularyPanelSetVocabularyList('prepositions', 'Prepositions');">Prepositions<br />
            <input type="radio" name="type" value="HouseTerms" onclick="VocabularyPanelSetVocabularyList('questions', 'Questions');">Questions<br />
            <input type="radio" name="type" value="HouseTerms" onclick="VocabularyPanelSetVocabularyList('shops', 'Shops');">Shops<br />
            <input type="radio" name="type" value="HouseTerms" onclick="VocabularyPanelSetVocabularyList('timewords', 'Time');" />Time<br />
            <input type="radio" name="type" value="HouseTerms" onclick="VocabularyPanelSetVocabularyList('vegetables', 'Vegetables');">Vegetables<br />
        </div>
    </div>

    @*<select id="vocabularyListSelectList" class="center"></select>
    <button onclick="SelectVocabularyList();">Submit</button>*@
    <div id="vocabularySubPanel" class="collasped">
        @await Html.PartialAsync("/Pages/Panels/SubPanels/VocabularySubPanel.cshtml")
    </div>
</div>
