<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>@ViewData["Title"] - TASPA</title>
</head>
<body>
    <header class="center">
        <h1>The Awesome Spanish Practice Application (TASPA)</h1>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   <footer class="center">
        <p>TASPA Footer</p>
    </footer>
</body>
</html>