<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/taspa.css" />
    <title>@ViewData["Title"] - TASPA</title>
</head>
<body>
    <div class="main">
        <div class="headerContainer">
            <div class="main header right">
                <div>search</div>
            </div>
            <div class="main header left">
                <div class="menu"></div>
            </div>
        </div>
        
        <header class="center">
            <h1>The Awesome Spanish Practice Application (TASPA)</h1>
        </header>
        
        <div>
            <main>
                @RenderBody()
            </main>
        </div>

        <footer class="center">
            <p>TASPA Footer</p>
        </footer>
    </div>   
</body>
</html>