<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/taspa.css" />
    <title>@ViewData["Title"] - TASPA</title>
</head>
<script type="text/javascript">
    function SetNavMenu(show) {
        var mnu = document.getElementById("navMenu");
        var mnuExpd = document.getElementById("navMenuExpanded");

        if (show == 1) {
            mnu.style.display = 'none';
            mnuExpd.style.display = 'block';
        }
        else if (show === 0) {
            mnu.style.display = 'block';
            mnuExpd.style.display = 'none';
        }
    }
</script>
<body>
    <div class="main">
        <div class="headerContainer">
            <div class="main header right">
                <div>search</div>
            </div>
            <div class="main header left">
                <div class="menu" id="navMenu" onclick="SetNavMenu(1);"></div>
                <div class="menuExpanded collasped" id="navMenuExpanded">
                    <a href="" onclick="SetNavMenu(0);">close</a>
                    <br/>
                    <a href="/Index">Home</a>
                    <a href="/Verbs">Verbs</a>
                </div> 
            </div>
        </div>
        
        <header class="center">
            <h1>The Awesome Spanish Practice Application (TASPA)</h1>
        </header>
        
        <div>
            <main>
                @RenderBody()
            </main>
        </div>

        <footer class="center">
            <p>TASPA Footer</p>
        </footer>
    </div>  
</body>
</html>