@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div style="text-align: center;">
<p>This site is a Spanish/English flash card practice site.  Within, are various lists that a person can use to improve there spanish.</p>
<p>This is also a programming learning site where I practice learning different technologies</p>

<p>For more details, please see my <a href="https://github.com/ehelin">github</a> site.</p>
</div>