@page
@model IndexModel
@{
    ViewData["Title"] = "TASPA";
}
<div class="homePagePanelParent">
    <div class="homePagePanel">
        <p>This site is a Spanish/English flash card practice site.  Within, are various lists that a person can use to improve there spanish.  Any Spanish or English are translations I have done myself using online resources</p>
        <p>This is also a programming learning site where I practice learning different technologies</p>

        <p>For more details, please see my <a href="https://github.com/ehelin">github</a> site.</p>
    </div>
</div>